doctype html
html
  head
    title Chat
    link(rel="stylesheet", href="style.css")    
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="script.js")
  body
    div.container#main
      div.navbar.navbar-fixed-top
        div.navbar-inner
          div.container.s1
            a.brand(href="#") Chat : Node.js + Socket.io
      div#chatEntries.s2
      div.row#entries
        input(type='text')#messageInput.s4
        div.btn-group
          button.btn#submit(data-loading-text="Send") Send
          button.btn.dropdown-toggle(data-toggle="dropdown")
            span.caret
          ul.dropdown-menu
            li
              a#edit(href="#modalPseudo", data-toggle="modal")
                i.icon-user
                | Change name
      div#nbUsersDiv
        p There is 
          span#nbUsers
          |  connected user(s).
  div.modal.fade#modalPseudo
    div.modal-header
      h3 Choose a name
    div.modal-body
      p Choose a name :
      input(type='text')#pseudoInput
      div.alert.alert-error#alertPseudo
        | This name is already used ! Choose another one.
    div.modal-footer
      button.btn.btn-primary#pseudoSubmit Go to the chat
  div.modal.fade#modalInfos
    div.modal-header
      h3 Infos
    div.modal-body
      p   This application has been made with 
        a(href="http://nodejs.org/") Node.js 
        , 
        a(href="http://socket.io/") Socket.io
        , 
        a(href="http://expressjs.com/") Express 
        | et 
        a(href="http://jade-lang.com/") Jade
        | .
      p She use 
        a(href="http://twitter.github.com/bootstrap/") Bootstrap 
        | from 
        a(href="https://twitter.com/") Twitter
        | and
        a(hre="http://rocha.la/jQuery-slimScroll") SlimScroll
        | .
      p The source has been published on Github under MIT license.
      p This application has been made by 
        a(href="http://geekuillau.me") Guillaume Besson - Geekuillaume
        | .